#block {
    border-radius: 3px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

#form {
    width: 25%;
}

.form-line {
    margin-top: 7px;
    width: 100%;
}

.input {
    float: right;
}

.input:invalid {
    background-color: rgb(255, 236, 239);
}

.required-field::after {
    content: " *";
    color: red;
}

#anchor {
    margin-left: 10px;
}

#err-msg {
    font-size: small;
}